<div class="conteudo row">

    <div class="borda col-sm-12 col-md-12 col-lg-5">
        <div class="consultar" routerLink="/consulta">
            Consultar
        </div>
    </div>



    <div class="borda col-sm-12 col-md-12 col-lg-5">
        <div class="cadastro" routerLink="/cadastro">
            Cadastro
        </div>
    </div>

    <div class="borda col-sm-12 col-md-12 col-lg-5">
        <div class="embarques" routerLink="/embarques">
            Embarques
        </div>
    </div>

    <div class="borda col-sm-12 col-md-12 col-lg-5">
        <div class="home" routerLink="/">
            Home
        </div>
    </div>

</div>