<div class="content" *ngIf="openClose" @animateMsg>

    <p class="h5">
        Embarques do(a) : {{nomeFuncionario}}
    </p>

    <table class="table table-striped table-bordered " style="text-align: center" *ngIf="!(embarques.content.length === 0); else elseBlock">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">DATA EMBARQUE</th>
                <th scope="col">HORA EMBARQUE</th>
                <th scope="col">DATA DESEMBARQUE</th>
                <th scope="col">HORA DESEMBARQUE</th>
                <th scope="col">DESEMBARCAR</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of embarques.content">
                <td>{{e.idEmbarque}}</td>
                <td>{{e.dataEmbarque}}</td>
                <td>{{e.horaEmbarque}}</td>
                <td>{{e.dataDesembarque}}</td>
                <td>{{e.horaDesembarque}}</td>
                <td style="text-align: center" *ngIf="e.horaDesembarque == null; else elseBlock">
                    <button type="button" class="btn btn-primary btn-sm" routerLink="/embarques/cadastro" [queryParams]="{idFuncionario: idFuncionario , idEmbarque: e.idEmbarque, nome: nomeFuncionario, embarqueOuDesembarque : false}" (click)="toggleOpenClose()">Desembarcar</button>
                </td>
                <ng-template #elseBlock>
                    <td style="text-align: center">
                        <button type="button" disabled class="btn btn-primary btn-sm ">Desembarcar</button>
                    </td>
                </ng-template>
            </tr>
        </tbody>
    </table>
    <ng-template #elseBlock>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">EMBARQUES</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Não há embarques para o(a) funcionário(a) {{nomeFuncionario}}</td>
                </tr>
            </tbody>
        </table>
    </ng-template>

    <app-paginacao [numeroPaginas]="embarques.totalPages" (paginaClicada)="findAllEmbarques($event)"></app-paginacao>

    <div class="botoes">
        <button type="button" class="btn btn-primary btn-sm " style="margin-left: 10px;" routerLink="/embarques" (click)="toggleOpenClose()">Voltar</button>
        <button *ngIf="cadastrarEmbarque; else elseButton" type="button" class="btn btn-primary btn-sm " routerLink="/embarques/cadastro" [queryParams]="{idFuncionario: idFuncionario , idEmbarque: 0, nome: nomeFuncionario, embarqueOuDesembarque : true}" (click)="toggleOpenClose()">Cadastrar Embarque para {{nomeFuncionario}}</button>
        <ng-template #elseButton>
            <button type="button" disabled class="btn btn-primary btn-sm ">Cadastrar Embarque para {{nomeFuncionario}}</button>
        </ng-template>
    </div>
</div>